* {
  margin: 0px;
  padding: 0px;
}

/* From Uiverse.io by akshat-patel28 */
.button-container {
  display: flex;
  /* background-color: rgba(245, 73, 144); */
  width: 150px;
  height: 40px;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px,
          rgba(245, 73, 144, 0.5) 5px 10px 15px; */
}

.button {
  outline: 0 !important;
  border: 0 !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.button:hover {
  transform: translateY(-3px);
}

.icon {
  font-size: 20px;
}


nav {
  position: sticky;
}

.navbar {
  padding: 10px;
  display: flex;
  position: sticky;
  /* color: black; */
  background-image: url("1.jpg");
  align-items: center;
  justify-content: center;
  /* margin:  0px 30px; */

}

.navbar li {
  list-style: none;
  /* margin: 0px 20px 0px 20px;
    padding-left: 25px;
    padding-right: 25px; */
  cursor: pointer;
}

h1 {
  color: #000000;
  font-size: 25px;
}

.navbar li a {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  padding: 0px 20px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

}

.navbar li a:hover {
  transform: translate(-3px);
  color: cyan;

}

.men {
  /* background-color: brown; */
  display: flex;
  margin-left: 175px;
  margin-right: 175px;
  font-size: 15px;
  font-weight: bold;

}



.main {
  background-image: url("1.jpg");
  /* opacity: 0.60; */

  background-position: center center;
  background-size: max(1200px, 100vw);
  background-repeat: no-repeat;
  height: 500px;
  position: relative;
}


.content {
  display: block;
  text-align: center;
  padding-top: 200px;
}

.h {
  font-size: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
}

.btn {
  margin-top: 10px;
  padding: 10px 20px 10px 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid red;
  background-color: red;
  box-shadow: 16px 16px 30px rgb(236, 6, 6);
  transition: all ease-in-out 0.3s;
}

.card3 .btn{
  margin-top: 50px;
}
.btn:hover {
  transform: translateY(-3px);
}

.btn1 {
  margin-left: 10px;
  margin-top: 12px;
  padding: 10px 15px 10px 15px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid rgb(0, 255, 13);
  background-color: rgb(0, 255, 64);
  box-shadow: 16px 16px 30px rgb(44, 216, 58);
  transition: all ease-in-out 0.3s;
}

.btn1:hover {
  transform: translateY(-3px);
}


.sec {
  /* justify-content: flex-start; */
  display: flex;
  /* height: 50px; */
  background-color: aqua;
}

.third{
  margin-left: 90px;
  margin-right: 90px;
margin-top: 20PX;
  justify-content:space-between;
  display: flex;
}
.sec1 {
  display: flex;

  /* text-align: center; */
  display: flex;
  /* height: 50px; */
  background-color: aqua;
}


.p2 {
 display: flex;
}

.card3 {
  height: 340px;
  width: 250px;
  box-shadow: 1px 1px 1px 1px gray;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  /* padding: 20px; */
  margin: 40px;

  cursor: pointer;
  display: flex;
  /* border-radius: 10px; */
  display: inline-block;
}

.logo3 {
  display: flex;

  /* padding-top: 4px; */
  font-size: 15px;
  aspect-ratio: 3/2;
  /* border-radius: 12px; */
  width: 100%;
  height: 90%;
  width: 100%;
  /* padding-right: 0px; background: #ce1e1e; */
  justify-content: center;
  align-items: center;
}

.t {
  display: flex;
  display: inline-block;
}

.m {
  color: red;
  display: flex;
  display: inline-block;
}

.r {
  font-size: 20px;

  font-weight: bold;
}

.pom{

  padding-top: 12px;
}

.foot{
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: rgb(43, 39, 39);
  color: aliceblue;
  height: 600px;
}
.box{
  padding: 60px;
}

input{
  margin: 6px;
  border-radius: 2PX;
  border: 2PX SOLID blanchedalmond;
padding: 5PX 10PX 5PX 10PX;  
}


.last{
  padding-top: 30px;
  height: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 400px;
  background-color: rgb(92, 87, 87);
  /* border: 2px solid cyan; */
}

.card{
  display: flex;
  justify-content: space-between;
}

.end{

  text-align: center;
  padding-top: 65px;
}
.white{
  height: 40px;
}





